
# KiCAD backups and working files
/board/*/*-backups/
/board/*/dist/
/board/*/jlcpcb/
/board/*/fp-info-cache
/board/*/#auto_saved_files#
/board/*/_autosave-*
/board/**/*.bak
/board/**/*.kicad_prl
/board/**/~*.lck

# Vim backups
.*.sw?

